<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">My Modal title</h1>
        <div class="buttons">
            <button class="button button-clear button-positive" ng-click="CloseModal()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div>
            <form novalidate name="clientForm" class="easeForm suForm" ng-model-options="{ updateOn: 'default blur' }">
                <header id="ratehead">
                    <h2>Basic info</h2>
                    <p class="ratespara">Tell us about your new Client!</p>
                </header>
                <fieldset>
                    <div class="fleft">
                        <label class="item item-input item-floating-label">
                            <span class="input-label">First Name</span>
                            <input required name="fname" type="text" ng-model="createc.fname" placeholder="First Name">
                            <span class="errormsg" ng-show="clientForm.fname.$error.required && clientForm.fname.$touched ">Required</span>
                        </label>
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Last Name</span>
                            <input required name="lname" type="text" ng-model="createc.lname" placeholder="Last Name">
                            <span class="errormsg" ng-show="clientForm.lname.$error.required && clientForm.lname.$touched ">Required</span>

                        </label>
                    </div>
                    <div class="fright">
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Street</span>
                            <input required name="street" type="text" ng-model="createc.street" placeholder="Street">
                            <span class="errormsg" ng-show="clientForm.street.$error.required && clientForm.street.$touched ">Required</span>
                        </label>
                        <label class="item item-input item-floating-label">
                            <span class="input-label">City</span>
                            <input required name="city" type="text" ng-model="createc.city" placeholder="City">
                            <span class="errormsg" ng-show="clientForm.city.$error.required && clientForm.city.$touched ">Required</span>
                        </label>
                        <label class="item item-input item-select">
                            <div class="input-label">
                                State<br>
                                <span class="errormsg" ng-show="clientForm.state.$error.required && clientForm.state.$touched ">Required</span>
                            </div>
                            <select required name="state" ng-model="createc.state">
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </label>
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Zip Code</span>
                            <input required name="zip" type="number" ng-model="createc.zip" placeholder="Zip">
                            <span class="errormsg" ng-show="clientForm.zip.$error.required && clientForm.zip.$touched ">Required</span>
                        </label>
                    </div>
                    <header id="ratehead">
                        <h2>Company Info</h2>
                        <p class="ratespara">Tell us about the Company.</p>
                    </header>
                </fieldset>
                <fieldset>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Company Name</span>
                        <input required name="cname" type="text" ng-model="createc.cname" placeholder="Company Name">
                        <span class="errormsg" ng-show="clientForm.cname.$error.required && clientForm.cname.$touched ">Required</span>
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Company Description</span>
                        <textarea required name="desc" placeholder="Company Description" ng-model="createc.cdesc"></textarea>
                        <span class="errormsg" ng-show="clientForm.desc.$error.required && clientForm.desc.$touched ">Required</span>
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Phone #</span>
                        <input required name="phone" type="text" ng-model="createc.phone" placeholder="Phone #" ng-minlength="10">
                        <span class="errormsg" ng-show=" form.$submitted || clientForm.phone.$error.minlength || clientForm.phone.$error.required && clientForm.phone.$touched ">Phone # is Required</span>
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Email</span>
                        <input required name="email" type="email" ng-model="createc.email" placeholder="Email">
                        <span class="errormsg" ng-show=" form.$submitted || clientForm.email.$error.email || clientForm.email.$error.required && clientForm.email.$touched ">This is not a valid email.</span>
                    </label>
                    <button class="button button-block button-positive loginbtn" type="submit" ng-click="addClient(createc)" ng-disabled="clientForm.$invalid || clientForm.$pristine">Submit</button>
                </fieldset>
            </form>
        </div>
    </ion-content>
</ion-modal-view>