<ion-view view-title="Archive">
    <ion-nav-bar class="bar-stable has-header">
        <ion-nav-back-button class="button-icon icon ion-ios7-arrow-back">Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="archive in archive" | searchFilter>
                    <span>Client: {{archive.clientComp}}</span><br>
                    <span>Rate: ${{archive.rate}}</span><br>
                    <span>Time :<b>{{archive.hours}}:{{archive.minutes}}:{{archive.seconds}}</b></span><br>
                    <span>{{archive.create_time | date:'medium'}}</span>
                    <ion-option-button class="button-info" ng-click="edit($index)">
                        Edit
                    </ion-option-button>
                    <ion-option-button class="button-info" ng-click="delClient($index)">
                        Delete
                    </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>