<ion-view view-title="Archive">
    <ion-content>
            <ion-list can-swipe="listCanSwipe" show-delete="shouldShowDelete">
               <ion-item class="addClD"><a href="#/app/addclient"><i class="icon ion-android-contacts"></i>&nbsp;&nbsp;Add Client</a></ion-item>
                <ion-item>
                    <ion-option-button class="button-positive" ng-click="archive(timer)">
                        Archive
                    </ion-option-button>
                    <ion-option-button class="button-info" ng-click="edit(timer)">
                        Edit
                    </ion-option-button>
                    Hello, {{item}}!
                </ion-item>
                <ion-item>
                    <ion-option-button class="button-positive" ng-click="archive(timer)">
                        Archive
                    </ion-option-button>
                    <ion-option-button class="button-info" ng-click="edit(timer)">
                        Edit
                    </ion-option-button>
                    Hello, {{item}}!
                </ion-item>
                <ion-item>
                    <ion-option-button class="button-positive" ng-click="archive(timer)">
                        Archive
                    </ion-option-button>
                    <ion-option-button class="button-info" ng-click="edit(timer)">
                        Edit
                    </ion-option-button>
                    Hello, {{item}}!
                </ion-item>
                <ion-item>
                    <ion-option-button class="button-positive" ng-click="archive(timer)">
                        Archive
                    </ion-option-button>
                    <ion-option-button class="button-info" ng-click="edit(timer)">
                        Edit
                    </ion-option-button>
                    Hello, {{item}}!
                </ion-item>
                <ion-item>
                    <ion-option-button class="button-positive" ng-click="archive(timer)">
                        Archive
                    </ion-option-button>
                    <ion-option-button class="button-info" ng-click="edit(timer)">
                        Edit
                    </ion-option-button>
                    Hello, {{item}}!
                </ion-item>
                <ion-item>
                    <ion-option-button class="button-positive" ng-click="archive(timer)">
                        Archive
                    </ion-option-button>
                    <ion-option-button class="button-info" ng-click="edit(timer)">
                        Edit
                    </ion-option-button>
                    Hello, {{item}}!
                </ion-item>
            </ion-list>
    </ion-content>
</ion-view>