<ion-view view-title="User {{user.fname}}'s Clients">
   <ion-nav-bar class="bar-stable">
        <ion-nav-back-button class="button-icon icon ion-ios7-arrow-back">Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <ion-list can-swipe="listCanSwipe" show-delete="shouldShowDelete">
            <ion-item class="addClD" ng-click="ClientModal()"><i class="icon ion-android-contacts"></i>&nbsp;&nbsp;Add Client
            </ion-item>

            <ion-item ng-repeat="client in clients" | searchFilter>
                <a href="#/tab/clients/{{client.idclients}}">
                    <b>{{client.fname}} {{client.lname}}</b>
                    <ion-option-button class="button-info" ng-click="edit($index)">
                        Edit
                    </ion-option-button>
                    <ion-option-button class="button-info" ng-click="delClient($index)">
                        Delete
                    </ion-option-button>
                </a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>