<ion-view view-title="{{client.cname}}">
    <ion-nav-bar class="bar-stable has-header">
        <ion-nav-back-button class="button-icon icon ion-ios7-arrow-back">Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-content ng-controller="clientDetailCtrl as clientDetail">
        <div id="profilepage">
            <div class="profilea">
                <div class="poftop">
                    <div class="profilepicd">
                        <img class="profilepic" src="views/images/defaultimg.png" alt="">
                    </div>
                    <div>
                        <span class="info"><i class="icon ion-home"></i>&nbsp;&nbsp;{{client.fname}} {{client.lname}}</span>
                        <br>
                        <span class="info"><i class="icon ion-android-phone-portrait"></i>&nbsp;&nbsp;{{client.phone}}</span>
                        <br>
                        <span class="info"><i class="icon ion-android-mail"></i>&nbsp;&nbsp;{{client.email}}</span>
                    </div>
                </div>
            </div>
            <ion-slide-box show-pager="false">
                <ion-slide class="profileb">
                    <h3>Client Timer</h3>
                    <p class="timerhelp">Configure your timer, then swipe to start!</p>
                </ion-slide>
            </ion-slide-box>
            <ion-slide-box show-pager="false">
                <ion-slide>
                    <div class="profilec">
                        <h4 class="rhead">Rates</h4>
                        <ion-list>
                            <ion-radio ng-value="{{user.lrate}}" ng-model="timer.rate">${{user.lrate}}</ion-radio>
                            <ion-radio ng-value="{{user.rrate}}" ng-model="timer.rate">${{user.rrate}}</ion-radio>
                            <ion-radio ng-value="{{user.hrate}}" ng-model="timer.rate">${{user.hrate}}</ion-radio>
                        </ion-list>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="profilec">
                        <div class="circle" id="the-stopwatch" ng-click="showStart = !showStart; startStopTimer()">
                            <div ng-model="timer.time" class="time"> {{touchHours}} : {{touchMinutes}} : {{touchSeconds}} </div>
                            <div class="timertext" ng-show="!showStart">Start</div>
                            <div class="timertext" ng-show="showStart" ng-click="saveTimer(timer)">Stop</div>
                        </div>
                        <div class="timeinc">
                            <button class="button button-clear button-dark" ng-click="addHours()">
                                +1h
                            </button>
                            <button class="button button-clear button-dark" ng-click="addMins()">
                                +1m
                            </button>
                            <button class="button button-clear button-dark" ng-click="addSecs()">
                                +10s
                            </button>
                        </div>
                        <div class="timemsg" ng-show="timeMsg">{{message}}</div>


                    </div>
                </ion-slide>

            </ion-slide-box>
        </div>
    </ion-content>
</ion-view>


<div id="rhe-stopwatch" ng-click="timer(); showStart = !showStart"></div>