<ion-view view-title="{{user.cname}}'s Dashboard">
    <ion-content ng-controller="profileCtrl as profile">
        <div id="profilepage">
            <div class="profilea">
                <div class="poftop">
                    <div class="profilepicd">
                        <img class="profilepic" src="views/images/defaultimg.png" alt="">
                    </div>
                    <div>
                        <span class="info"><i class="icon ion-home"></i>&nbsp;&nbsp;{{user.fname}} {{user.lname}}</span>
                        <br>
                        <span class="info"><i class="icon ion-android-phone-portrait"></i>&nbsp;&nbsp;{{user.phone}}</span>
                        <br>
                        <span class="info"><i class="icon ion-android-mail"></i>&nbsp;&nbsp;{{user.email}}</span>
                    </div>
                </div>
            </div>
            <ion-slide-box show-pager="false">
                <ion-slide class="profileb">
                    <ul class="profileslider">
                        <li><span class="pstop">October</span><span class="psbot datebot">2015</span>
                        </li>
                        <li><span class="pstop">85</span><span class="psbot hwbot">Hours Worked</span>
                        </li>
                        <li><span class="pstop">$1235</span><span class="psbot ibot">Est. Income</span>
                            <i class="icon ion-chevron-right rgtarw"></i>
                        </li>
                    </ul>
                </ion-slide>
                <ion-slide class="profileb">
                    <i class="icon ion-chevron-left lftarw"></i>

                </ion-slide>
            </ion-slide-box>
            <div class="profilec">
                <canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series" click="onClick">
                </canvas>
            </div>
        </div>
    </ion-content>
</ion-view>